@use './variables';

.--flicker {
    animation: flicker var(--transition-duration) var(--transition-timing-function) infinite;
}

@keyframes flicker {
    0%,
    100% {
        opacity: var(--from);
    }
    50% {
        opacity: var(--to);
    }
}
