@mixin east($active) {
    &--en,
    &--es {
        left: calc(100% + var(--spacer) - var(--offset));
        position: absolute;

        #{$active} {
            translate: var(--offset);
        }
    }

    &--e {
        bottom: 50%;
        left: calc(100% + var(--spacer) - var(--offset));
        position: absolute;
        transform-origin: center left;
        translate: 0 50%;

        #{$active} {
            translate: var(--offset) 50%;
        }
    }

    &--en {
        top: 0;
        transform-origin: top left;
    }

    &--es {
        bottom: 0;
        transform-origin: bottom left;
    }
}
