@mixin north($active) {
    &--ne,
    &--nw {
        bottom: calc(100% + var(--spacer) - var(--offset));
        position: absolute;

        #{$active} {
            translate: 0 calc(var(--offset) * -1);
        }
    }

    &--n {
        bottom: calc(100% + var(--spacer) - var(--offset));
        position: absolute;
        right: 50%;
        transform-origin: center bottom;
        translate: 50%;

        #{$active} {
            translate: 50% calc(var(--offset) * -1);
        }
    }

    &--ne {
        right: 0;
        transform-origin: bottom right;
    }

    &--nw {
        left: 0;
        transform-origin: bottom left;
    }
}
