@mixin south($active) {
    &--se,
    &--sw {
        position: absolute;
        top: calc(100% - var(--spacer));

        #{$active} {
            transform: translateY(calc(var(--spacer) * 2));
        }
    }

    &--s {
        position: absolute;
        right: 50%;
        top: calc(100% - var(--spacer));
        transform: translateX(50%);
        transform-origin: center top;

        #{$active} {
            transform: translate(50%, calc(var(--spacer) * 2));
        }
    }

    &--se {
        right: 0;
        transform-origin: top right;
    }

    &--sw {
        left: 0;
        transform-origin: top left;
    }

}
