@mixin south($active) {
    &--se,
    &--sw {
        position: absolute;
        top: calc(100% + var(--spacer) - var(--offset));

        #{$active} {
            translate: 0 var(--offset);
        }
    }

    &--s {
        position: absolute;
        right: 50%;
        top: calc(100% + var(--spacer) - var(--offset));
        transform-origin: center top;
        translate: 50%;

        #{$active} {
            translate: 50% var(--offset);
        }
    }

    &--se {
        right: 0;
        transform-origin: top right;
    }

    &--sw {
        left: 0;
        transform-origin: top left;
    }

}
