@mixin west($active) {
    &--wn,
    &--ws {
        position: absolute;
        right: calc(100% - var(--spacer));

        #{$active} {
            translate: calc(var(--spacer) * -2);
        }
    }

    &--w {
        bottom: 50%;
        position: absolute;
        right: calc(100% - var(--spacer));
        transform-origin: center right;
        translate: 0 50%;

        #{$active} {
            translate: calc(var(--spacer) * -2) 50%;
        }
    }

    &--wn {
        top: 0;
        transform-origin: top right;
    }

    &--ws {
        bottom: 0;
        transform-origin: bottom right;
    }
}
