@use 'ui/lib';
@use 'ui/tokens';

.--text {
    &-bold {
        font-weight: var(--font-weight-500);

        @each $key in lib.map-keys(tokens.$font-weight) {
            @if $key > 500 {
                &-#{$key} {
                    font-weight: var(--font-weight-#{$key});
                }
            }
        }
    }

    &-center {
        text-align: center;
    }

    &-crop {
        &::after,
        &::before,
        &-bottom::after,
        &-top::before {
            content: '';
            display: block;
            height: 0;
            width: 100%;
        }

        &::after,
        &-bottom::after {
            margin-bottom: calc((1 - var(--line-height)) * 0.618em);
        }

        &::before,
        &-top::before {
            margin-top: calc((1 - var(--line-height)) * 0.618em);
        }
    }

    &-italic {
        font-style: italic;
    }

    &-linethrough {
        text-decoration: line-through;
    }

    &-multiplier {
        font-size: calc(var(--font-size) * var(--text-multiplier));
    }

    &-outline {
        color: var(--color);
        word-break: break-word;
        word-wrap: break-word;

        @supports (-webkit-text-stroke-width: 1px) {
            color: transparent;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-color: var(--color);
            -webkit-text-stroke-width: var(--stroke-width);
        }
    }

    &-strike-through {
        text-decoration: line-through;
        text-decoration-thickness: var(--line-width);
    }

    &-truncate {
        line-height: var(--size);
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &-underline {
        text-decoration: underline;

        &-dotted {
            text-decoration: underline;
            text-decoration-style: dotted;
        }
    }

    &-uppercase {
        text-transform: uppercase;
    }
}
