@use 'ui/lib';

$color: (
    'black': (
        300: #0d1123,
        400: #04081a,
        500: #010313
    ),

    'blue': (
        300: #3252ff,
        400: #2a4bff,
        500: #2445f9
    ),

    'border': (
        300: #c2c6d9,
        400: #b8bcd1,
        500: #a9acc2
    ),

    'green': (
        300: #4bff71,
        400: #2aff57,
        500: #24f952
    ),

    'grey': (
        300: #f9faff,
        400: #f3f5ff,
        500: #e9ebf5
    ),

    misc: (
        // Crypto
        etherscan: #21325b,
        dash: #008deb,

        // esports
        activision: #030b1a,
        cod: #181b1e,
        cross-play: #4d24ff,
        playstation: #004ea6,
        xbox: #289128,

        // 3rd Party
        discord: #5865F2,
        facebook: #3b5998,
        github: #171515,
        instagram: #000000,
        linkedin: #0077b5,
        medium: #1F1F1F,
        pdf: #FD001E,
        reddit: #ff4500,
        snapchat: #fffc00,
        soundcloud: #FF5510,
        spotify: #1db954,
        tradingview: #3BB3E4,
        trello: #0079bf,
        twitch: #6441a5,
        twitter: #1DA1F3,
        youtube: #ff0000
    ),

    'purple': (
        300: #6432ff,
        400: #5e2aff,
        500: #5824f9
    ),

    'red': (
        300: #ff3245,
        400: #ff2a3d,
        500: #f92438
    ),

    text: (
        300: #3c3f4d,
        400: #1c1f30,
        500: #04081a
    ),

    // Redundant But Necessary To Use In Various Color Modifiers Loops
    'white': (
        300: #fff,
        400: #fff,
        500: #fff
    ),

    'yellow': (
        300: #fff94b,
        400: #fff92a,
        500: #f9f224
    )
);

/**
 *------------------------------------------------------------------------------
 *
 *  Convert Misc Hex Codes To Weights For Interactive Component Themes
 *
 */

@each $name, $hex in lib.map-get($color, misc) {
    $color: lib.map-set($color, $name, (
        300: lib.color-adjust($hex, $lightness: 3.2%),
        400: $hex,
        500: lib.color-adjust($hex, $lightness: -3.2%)
    ));
}

$modifiers: lib.map-keys($color);
$modifiers: lib.list-remove(misc, $modifiers);

/**
 *------------------------------------------------------------------------------
 *
 *  Color Keys
 *
 */

$color: lib.map-set($color, modifiers, lib.list-unique($modifiers));

/**
 *------------------------------------------------------------------------------
 *
 *  Color Weights
 *
 */

$weights: 300 400 500;
