@use '/tokens';

.accordion {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows .3s;

    @include tokens.state(inactive) {
        grid-template-rows: 0fr;
    }

    &-content {
        min-height: 0;
        overflow: hidden;
    }
}
