.ellipsis {
    &-dot {
        &:nth-child(1) {
            animation: ellipsis-dot-one var(--animation-duration) linear infinite;
        }

        &:nth-child(2) {
            animation: ellipsis-dot-two var(--animation-duration) linear infinite;
        }

        &:nth-child(3) {
            animation: ellipsis-dot-three var(--animation-duration) linear infinite;
        }
    }
}

@keyframes ellipsis-dot-one {
    0% {
        opacity: 1;
    }
    65% {
        opacity: 1;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes ellipsis-dot-two {
    0% {
        opacity: 0;
    }
    21% {
        opacity: 0;
    }
    22% {
        opacity: 1;
    }
    65% {
        opacity: 1;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes ellipsis-dot-three {
    0% {
        opacity: 0;
    }
    43% {
        opacity: 0;
    }
    44% {
        opacity: 1;
    }
    65% {
        opacity: 1;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}