@use 'variables';

.textarea {
    align-items: center;
    background: var(--background);
    border: var(--border-width) var(--border-style) var(--border-color);
    border-radius: var(--border-radius);
    color: var(--color);
    cursor: text;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    font-size: var(--font-size);
    line-height: var(--line-height);
    min-width: 0;
    padding: var(--padding-vertical) var(--padding-horizontal);
    position: relative;
    transition:
        background var(--transition-duration) ease-in-out,
        border-color var(--transition-duration) ease-in-out,
        box-shadow var(--transition-duration) ease-in-out,
        opacity var(--transition-duration) ease-in-out,
        transform var(--transition-duration) ease-in-out;
    white-space: normal;
    width: 100%;

    &:invalid,
    &:required {
        box-shadow: none;
    }
}