@use '/tokens';

.textarea {
    --border-color-default: var(--background);
    --border-radius: var(--border-radius-400);
    --border-style: solid;
    --border-width: 0px;
    --box-shadow: var(--box-shadow-default);
    --box-shadow-default: none;
    --font-size: var(--font-size-400);
    --padding-horizontal: var(--size-400);
    --padding-vertical: var(--size-400);
    --size: var(--size-400);

    #{tokens.state(inactive)} {
        @include tokens.state(hover) {
            --box-shadow: var(--box-shadow-hover);
        }

        @include tokens.state(pressed) {
            --box-shadow: var(--box-shadow-pressed);
        }
    }

    #{tokens.state(active)} {
        --box-shadow: var(--box-shadow-active);
    }
}