@use 'css-utilities/background';
@use 'css-utilities/color';


.copy {
    @extend %background-state, %color-state;
    --background-hover: var(--surface-background-hover);
    --background-pressed: var(--surface-background-pressed);
    --border-radius: var(--border-radius-300);
    --color-default: var(--color-text-300);
    --color-hover: var(--color-text-500);
    --color-pressed: var(--color-hover);
    --draw-duration: 280ms;
    --draw-timing-function: ease;
    --icon-size: var(--size-400);
    --outline-color: var(--color-blue-400);
    --outline-width: var(--border-width-500);
    --size: 28px;
}
