.checkbox-group-demo {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--size-400);
    width: min(360px, 100%);

    &-status {
        color: var(--color-text-300);
        font-size: var(--font-size-300);
        text-align: center;
    }
}
