.typewriter-retype-demo {
    color: var(--color-text-500);
    font-size: var(--font-size-500);
    font-weight: var(--font-weight-500);
    letter-spacing: -0.025em;
    margin: 0;
    text-align: center;
}
