@use './variables.scss';

.ellipsis {
    span {
        animation: ellipsis var(--animation-duration) infinite linear;
        background-color: var(--color);
        border-radius: 100%;
        display: inline-block;
        height: var(--size);
        margin: 0 var(--margin-horizontal);
        width: var(--size);

        :nth-child(2) {
            animation-delay: 0.24s;
        }

        :nth-child(3) {
            animation-delay: 0.48s;
        }
    }

    @keyframes ellipsis {
        0%, 100% {
            opacity: 0.16;
        }
        20% {
            opacity: 1;
        }
    }
}