.tooltip {
    --spacer: var(--size-300);

    &-content,
    &-message {
        --background: transparent;
        --border-radius: var(--border-radius-400);
        --box-shadow: var(--box-shadow-400);
        --scale: 0.8;
        --max-width: calc(90vw - (var(--spacer-dynamic) * 2));
        --min-width: auto;
        --transition-duration: var(--transition-duration-300);

        &--noscale {
            --scale: 1;
        }
    }

    &-message {
        --background: var(--color-black-400);
        --color: var(--color-white-400);
        --font-size: var(--font-size-300);
        --font-weight: var(--font-weight-400);
        --padding: var(--size-300);
    }
}
