.button {
    &--form,
    &--primary,
    &--secondary,
    &--tertiary {
        --border-color-active: var(--color-primary-300);
        --color-active: var(--color-white-400);
        --color-default: var(--color-grey-500);
        --color-hover: var(--color-white-400);
        --color-pressed: var(--color-grey-500);
        --font-weight: var(--font-weight-500);
    }

    &--form,
    &--primary {
        --background-active: var(--color-primary-300);
        --background-default: var(--color-primary-300);
        --background-hover: var(--color-primary-300);
        --background-pressed: var(--color-primary-500);
    }

    &--form {
        --padding-horizontal: var(--size-500);
        --padding-vertical: var(--size-500);
        --width: 100%;
    }

    &--secondary {
        --background-active: var(--color-black-300);
        --background-default: var(--color-black-300);
        --background-hover: var(--color-primary-300);
        --background-pressed: var(--color-primary-500);
        --border-color: var(--background-color);
    }

    &--tertiary {
        --background-active: var(--color-black-300);
        --background-default: var(--color-black-400);
        --background-hover: var(--color-black-300);
        --background-pressed: var(--color-black-500);
        --border-color-active: var(--color-primary-300);
        --border-color-default: var(--color-black-300);
        --border-color-hover: var(--color-black-400);
        --border-color-pressed: var(--color-black-500);
    }
}