.inline-edit {
    --background-hover: oklch(from var(--color-text-500) l c h / 0.04);
    --box-border-radius: var(--border-radius-400);
    --box-padding-block: 4px;
    --box-padding-end: 36px;
    --box-padding-start: 8px;
    --color: var(--color-text-500);
    --field-background: var(--color-white-300);
    --field-ring: 0 0 0 1.5px oklch(from var(--color-text-500) l c h / 0.25);
    --icon-color: var(--color-text-300);
    --icon-color-saved: var(--color-text-500);
    --icon-size: 16px;
    --icon-swap-duration: 300ms;
    --icon-swap-timing-function: linear(0, 0.035, 0.118, 0.216, 0.319, 0.424, 0.515, 0.6, 0.669, 0.728, 0.781, 0.822, 0.856, 0.885, 0.908, 0.927, 0.942, 0.954, 0.964, 0.971, 0.977, 0.982, 0.986, 0.989, 0.991, 0.993, 0.995, 0.996, 0.997, 0.997, 1);
    --outline-color: var(--color-text-500);
    --placeholder-color: var(--color-text-300);
}
