@use '/lib';
@use '/tokens';

.overlay {
    @include lib.position(fixed, full);
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden;
    z-index: 9;


    @include tokens.state(inactive) {
        input[type='password'] {
            display: none;
        }
    }
}
