@use 'variables';

.--flex {
    &-center,
    &-end,
    &-horizontal,
    &-horizontal-space-between,
    &-start,
    &-vertical,
    &-vertical-space-between {
        display: flex;
        gap: var(--gap-vertical) var(--gap-horizontal);
    }

    &-center {
        align-content: center;
        flex-flow: row wrap;
        justify-content: center;
    }

    &-column {
        display: flex;
        flex-flow: column;
        gap: var(--gap-vertical) 0px;
    }

    &-end {
        flex-flow: row wrap;
        justify-content: flex-end;
    }

    &-fill {
        display: flex;
        flex: 1;
        min-width: 0;
    }

    &-fixed {
        display: flex;
        flex: 0 0 var(--width);
    }

    &-horizontal {
        flex-flow: row wrap;
        justify-content: center;

        &-space-between {
            flex-flow: row wrap;
            justify-content: space-between;
        }
    }

    &-row {
        display: flex;
        flex-flow: row;
        gap: 0px var(--gap-horizontal);
    }

    &-start {
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    &-vertical {
        align-items: center;
        flex-flow: row wrap;

        &-space-between {
            align-items: space-between;
            flex-flow: row wrap;
        }
    }
}
