@use 'variables';

.--flex {
    &-center,
    &-end,
    &-horizontal,
    &-start,
    &-vertical {
        display: flex;
        flex-flow: row wrap;
        gap: var(--gap-vertical) var(--gap-horizontal);
        position: relative;
    }

    &-center,
    &-horizontal {
        justify-content: center;
    }

    &-center,
    &-vertical {
        align-items: center;
    }

    &-column,
    &-fill,
    &-fixed,
    &-row {
        display: flex;
        position: relative;
    }

    &-column {
        flex-flow: column;
        gap: var(--gap-vertical) 0px;
    }

    &-end {
        justify-content: flex-end;
    }

    &-fill {
        flex: 1;
        min-width: 0;
    }

    &-fixed {
        flex: 0 0 var(--width);
    }

    &-row {
        flex-flow: row;
        gap: 0px var(--gap-horizontal);
    }

    &-start {
        justify-content: flex-start;
    }
}
