@use 'css-utilities/hidden';


.typewriter-rotate {
    color: var(--color);
    display: inline-block;
    position: relative;

    &-box {
        display: inline-block;
        position: relative;
        text-align: left;
        white-space: pre;
    }

    &-letter {
        display: inline-block;

        &--exiting {
            pointer-events: none;
            position: absolute;
            top: 0;
        }
    }

    &-sr {
        @extend %hidden-visually;
    }
}
