.typewriter {
    &::after {
        animation: blink 0.64s infinite;
        content: '|';

        @keyframes blink {
            0%, 100% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
        }
    }
}