.typewriter {
    --caret: '|';
    --caret-color: currentColor;
    --caret-duration: 0.64s;
    --caret-timing-function: ease-in-out;
    --glow: 0 0 0 transparent;

    &--block {
        --caret: '';
    }

    &--glow {
        --glow: 0 0 0.4em var(--caret-color);
    }

    &--hard {
        --caret-duration: 1s;
        --caret-timing-function: steps(1, end);
    }

    &--underscore {
        --caret: '_';
    }
}
