@use 'sass:list';
@use '/lib';
@use '/tokens';

:root {
    @include lib.css-variables(border-radius, tokens.$border-radius);
    @include lib.css-variables(border-width, tokens.$border-width);
    @include lib.css-variables(box-shadow, tokens.$box-shadow);
    @include lib.css-variables(color, tokens.$color);
    @include lib.css-variables(font-size, tokens.$font-size);
    @include lib.css-variables(size, tokens.$size);
    @include lib.css-variables(spacer, tokens.$spacer);

    --background: var(--color-white-400);
    --color: var(--color-text-400);
    --min-width: 320px;
    --transition-duration: #{lib.map-get(tokens.$transition, 'duration')};
    --transition-timing-function: #{lib.map-get(tokens.$transition, 'timing-function')};
}

body {
    --font-size: var(--font-size-400);
    --font-weight: var(--font-weight-400);
}

section {
    --width: 100%;
}

h1, h2, h3, h4 {
    --color: var(--color-text-400);
    --font-weight: var(--font-weight-500);
}

h1 {
    --font-size: var(--font-size-700);
}

h2 {
    --font-size: var(--font-size-600);
}

h3 {
    --font-size: var(--font-size-500);
}

h4 {
    --font-size: var(--font-size-400);
}

b,
strong {
    --color: var(--color-text-400);
    --font-weight: var(--font-weight-500);
}
