@use 'ui/lib';

.--absolute {
    &-bottom,
    &-top {
        left: 0;
        position: absolute;
        right: 0;
    }

    &-left,
    &-right {
        bottom: 0;
        position: absolute;
        top: 0;
    }

    &-center {
        @include lib.position(absolute, center);
    }

    &-full {
        @include lib.position(absolute, full);
    }

    &-horizontal {
        &,
        &-bottom,
        &-top {
            @include lib.position(absolute, horizontal);
        }
    }

    &-vertical {
        &,
        &-left,
        &-right {
            @include lib.position(absolute, vertical);
        }
    }

    @each $direction in 'bottom' 'top' {
        &,
        &-horizontal {
            &-#{$direction} {
                #{$direction}: 0;
            }
        }
    }

    @each $direction in 'left' 'right' {
        &,
        &-vertical {
            &-#{$direction} {
                #{$direction}: 0;
            }
        }
    }
}
