@use '/lib';
@use '/tokens';

.checkbox {
    --background: var(--background-default);
    --background-active: var(--background-default);
    --background-default: transparent;
    --background-hover: var(--background-default);
    --background-pressed: var(--background-default);
    --border-color: var(--border-color-default);
    --border-color-default: var(--background);
    --border-radius: var(--border-radius-300);
    --border-style: solid;
    --border-width: 0px;
    --box-shadow: var(--box-shadow-default);
    --box-shadow-default: none;
    --height: var(--size);
    --margin-horizontal: calc(var(--width-switch) - var(--width));
    --opacity: var(--opacity-default);
    --opacity-active: var(--opacity-default);
    --opacity-default: 1;
    --opacity-hover: var(--opacity-default);
    --opacity-pressed: var(--opacity-default);
    --rotate: 45deg;
    --scale: var(--scale-default);
    --scale-active: 1;
    --scale-default: 0;
    --scale-hover: 1.08;
    --scale-pressed: 0.98;
    --size: var(--size-600);
    --width: var(--height);
    --width-switch: 40px;

    &::before {
        --border-width: 5px;
        --box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.16);
        --height: 110%;
        --translateX: 108%;
        --translateY: 8%;
        --width: 50%;
    }

    #{tokens.state(default)} {
        &::before {
            --translateY: 100%;
        }
    }

    #{tokens.state(inactive)} {
        @include tokens.state(hover) {
            --background: var(--background-hover);
            --border-color: var(--border-color-hover);
            --box-shadow: var(--box-shadow-hover);
            --opacity: var(--opacity-hover);
            --scale: var(--scale-hover);
        }

        @include tokens.state(pressed) {
            --background: var(--background-pressed);
            --border-color: var(--border-color-pressed);
            --box-shadow: var(--box-shadow-pressed);
            --opacity: var(--opacity-pressed);
            --scale: var(--scale-pressed);
        }
    }

    #{tokens.state(active)} {
        --background: var(--background-active);
        --border-color: var(--border-color-active);
        --box-shadow: var(--box-shadow-active);
        --opacity: var(--opacity-active);
        --scale: var(--scale-active);
    }
}