.docs-sidebar {
    align-self: start;
    max-height: calc(100svh - var(--header-height));
    padding: var(--size-800) var(--size-200) var(--size-800) 0;
    position: sticky;
    top: var(--header-height);

    &-group {
        margin-top: var(--size-300);
    }

    &-heading {
        color: var(--color-text-300);
        font-size: var(--font-size-200);
        font-weight: var(--font-weight-500);
        letter-spacing: 0.08em;
        padding: 0 var(--size-300) var(--size-100);
        text-transform: uppercase;
    }

    &-section {
        &:not(:first-child) {
            margin-top: var(--size-600);
        }
    }

    &-title {
        color: var(--color-text-500);
        display: block;
        font-size: var(--font-size-200);
        font-weight: var(--font-weight-600);
        letter-spacing: 0.08em;
        margin-bottom: var(--size-300);
        padding: 0 var(--size-300) 0 0;
        text-decoration: none;
        text-transform: uppercase;
    }

    @media (max-width: 1024px) {
        display: none;
    }
}


a.docs-sidebar-title:hover {
    color: var(--color-blue-400);
}
