.docs-sidebar {
    align-self: start;
    max-height: calc(100svh - var(--header-height));
    padding: var(--size-800) var(--size-200) var(--spacer-100) 0;
    position: sticky;
    top: var(--header-height);

    @media (max-width: 1024px) {
        display: none;
    }
}
