// Hide Chrome Mobile Scrollbar
::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:window-inactive {
    background: transparent;
    box-shadow: unset;
}

.scrollbar {
    height: 100%;
    z-index: 9;


    &,
    &::before {
        position: absolute;
        right: 0;
        top: 0;
        transition: opacity var(--transition-duration) ease-in-out;
        width: var(--width);
    }

    &::before {
        background: var(--background-default);
        border-radius: 1px 0 0 1px;
        content: '';
        height: var(--height);
        transform: var(--translate);
        transform-origin: top center;
    }


    &--fixed {
        position: fixed;
    }

    &--hidden {
        opacity: 0;
    }


    &-container {
        display: flex;
        flex-flow: column;
        overflow: hidden;
        position: relative;
    }

    &-content {
        height: 100%;
        margin-right: calc(var(--scrollbar-width) * -1);
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-gutter: stable;
        scroll-behavior: smooth;
        width: calc(100% + var(--scrollbar-width));

        &--snap {
            overflow: auto;
            scroll-snap-type: both mandatory;
            overscroll-behavior-x: contain;

            > * {
                scroll-snap-stop: normal;
                scroll-snap-align: center;
            }
        }
    }
}
