@use './variables.scss';

.page {
    min-height: 100svh;
    position: relative;
    width: 100vw;


    &-subtitle,
    &-suptitle,
    &-title {
        color: var(--color);
        display: block;
        line-height: var(--line-height);
        position: relative;
        width: 100%;
        z-index: 1;
    }

    &-subtitle,
    &-suptitle {
        font-size: var(--font-size);
    }

    &-suptitle + &-title,
    &-title + &-subtitle {
        margin-top: var(--margin-vertical);
    }

    &-title {
        text-wrap: balance;
    }
}
