@use '/tokens';
@use 'variables';

.announcement {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 240ms var(--announcement-drawer);

    & > &-content {
        --close-duration: 240ms;
        --ease: var(--announcement-drawer);
        --open-duration: 280ms;

        filter: blur(2px);
        transition:
            filter 120ms var(--announcement-ease),
            opacity 120ms var(--announcement-ease),
            transform var(--transition-duration) var(--announcement-drawer),
            translate var(--transition-duration) var(--announcement-drawer);

        @include tokens.state(active) {
            filter: blur(0px);
            transition:
                filter 200ms var(--announcement-ease),
                opacity 200ms var(--announcement-ease),
                transform var(--transition-duration) var(--announcement-drawer),
                translate var(--transition-duration) var(--announcement-drawer);
        }

        &.overlay--dragging {
            transition: none;
        }
    }

    @include tokens.state(active) {
        grid-template-rows: 1fr;
        transition: grid-template-rows 280ms var(--announcement-drawer);
    }

    @media (prefers-reduced-motion: reduce) {
        &,
        #{tokens.state(active)} {
            transition: none;
        }

        & > &-content {
            --close-duration: 0s;
            --open-duration: 0s;

            &,
            #{tokens.state(active)} {
                filter: none;
                transition: opacity 200ms var(--announcement-ease);
            }
        }
    }
}
