@use '/tokens';

.announcement {
    --announcement-drawer: var(--easing-spring);
    --announcement-ease: var(--easing-spring);


    &-content.overlay {
        --close-duration: var(--duration-slow-exit);
        --ease: var(--announcement-drawer);
        --fade-duration: var(--duration-fast-exit);
        --open-duration: var(--duration-slow);

        @include tokens.state(active) {
            --fade-duration: var(--duration-fast);
        }

        @media (prefers-reduced-motion: reduce) {
            --close-duration: 0s;
            --open-duration: 0s;
        }
    }
}
