@use 'variables';

.form {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-vertical) var(--gap-horizontal);
    justify-content: flex-start;
    margin-block: var(--margin-vertical);
    margin-inline: var(--margin-horizontal);
    position: relative;
}
