.bubble {
    --background: var(--background-default);
    --background-default: var(--color-border-400);
    --border-radius: 100%;
    --height: var(--size);
    --margin-horizontal: var(--size-100);
    --size: 6px;
    --width: var(--size);


    &--bottom,
    &--top {

        &-left,
        &-right {
            --position-horizontal: calc(var(--size) / -2);
            --position-vertical: calc(var(--size) / -2);
        }
    }
}