.navigation-menu {
    --background: var(--color-white-300);
    --box-shadow: 0 0 0 var(--border-width-400) oklch(from var(--color-black-300) l c h / 0.1), var(--box-shadow-300);
    --color: var(--color-text-500);
    --description-color: var(--color-text-300);
    --description-font-size: 0.875rem;
    --focus-color: var(--color-text-500);
    --font-size: 0.875rem;
    --gap: 8px;
    --hover-background: oklch(0.945 0 0);
    --link-radius: 8px;
    --pill-duration: 0.25s;
    --pill-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    --popup-duration: 0.2s;
    --popup-radius: 12px;
    --title-font-size: 0.9375rem;
    --trigger-height: 36px;
    --trigger-padding: 12px;


    &--muted {
        --hover-background: var(--color-grey-400);
    }
}
