@use '/lib';
@use '/tokens';
@use 'variables';
@use '../../text/scss/index';

.link {
    @extend .text;
    align-content: center;
    background: var(--background);
    cursor: pointer;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-block: max(0px, calc(var(--padding-vertical) - var(--border-width)));
    padding-inline: max(0px, calc(var(--padding-horizontal) - var(--border-width)));
    position: relative;
    transition:
        background var(--transition-duration) var(--transition-timing-function),
        border-color var(--transition-duration) var(--transition-timing-function),
        color var(--transition-duration) var(--transition-timing-function),
        opacity var(--transition-duration) var(--transition-timing-function);
}
