@use '/tokens';

.link {
    --background: var(--background-default);
    --border-color: var(--border-color-default);
    --border-radius: var(--border-radius-400);
    --border-width: 0px;
    --color: var(--color-default);
    --font-size: var(--font-size-400);
    --font-weight: var(--font-weight-500);
    --line-height: var(--line-height-400);
    --padding-horizontal: 0px;
    --padding-vertical: var(--size-400);
    --width: auto;


    @include tokens.state(active) {
        --background: var(--background-active);
        --border-color: var(--border-color-active);
        --color: var(--color-active);
    }

    @include tokens.state(hover) {
        --background: var(--background-hover);
        --border-color: var(--border-color-hover);
        --color: var(--color-hover);
    }

    @include tokens.state(pressed) {
        --background: var(--background-pressed);
        --border-color: var(--border-color-pressed);
        --color: var(--color-pressed);
    }
}
