@use '/lib';
@use '/tokens';

.--text {
    &-crop {
        @supports (text-box: trim-both cap alphabetic) {
            & {
                text-box: trim-both cap alphabetic;
            }

            &-top {
                text-box: trim-start cap alphabetic;
            }

            &-bottom {
                text-box: trim-end cap alphabetic;
            }
        }

        @supports not (text-box: trim-both cap alphabetic) {
            &::after,
            &::before,
            &-bottom::after,
            &-top::before {
                content: '';
                display: block;
                height: 0;
                width: 100%;
            }

            &::after,
            &-bottom::after {
                margin-bottom: calc((1em - 1lh) * 0.618);
            }

            &::before,
            &-top::before {
                margin-top: calc((1em - 1lh) * 0.618);
            }
        }

        &-first-child {
            &:first-child {
                @extend .--text-crop-top;
            }
        }

        &-last-child {
            &:last-child {
                @extend .--text-crop-bottom;
            }
        }
    }

    &-truncate {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
