@use '/lib';
@use '/tokens';
@use 'variables';

.card {
    background: var(--background);
    border-radius: var(--border-radius);
    padding-block: max(0px, calc(var(--padding-vertical) - var(--border-width)));
    padding-inline: max(0px, calc(var(--padding-horizontal) - var(--border-width)));
    position: relative;
    transition:
        background var(--transition-duration) var(--transition-timing-function),
        border-color var(--transition-duration) var(--transition-timing-function),
        box-shadow var(--transition-duration) var(--transition-timing-function),
        max-height var(--transition-duration) var(--transition-timing-function),
        opacity var(--transition-duration) var(--transition-timing-function),
        transform var(--transition-duration) var(--transition-timing-function);
    width: var(--width);


    // Pseudo Element Box Shadow
    &::after {
        @include lib.position(absolute, full);
        border-radius: inherit;
        box-shadow: var(--box-shadow);
        content: '';
        pointer-events: none;
        transition:
            box-shadow var(--transition-duration) var(--transition-timing-function),
            opacity var(--transition-duration) var(--transition-timing-function);
        z-index: -1;
    }
}
