@use '/lib';
@use 'variables';

.card {
    background: var(--background);
    border-radius: var(--border-radius);
    padding: var(--padding-vertical) var(--padding-horizontal);
    position: relative;
    transition:
        background var(--transition-duration) ease-in-out,
        border-color var(--transition-duration) ease-in-out,
        box-shadow var(--transition-duration) ease-in-out,
        max-height var(--transition-duration) ease-in-out,
        opacity var(--transition-duration) ease-in-out,
        transform var(--transition-duration) ease-in-out;
    width: var(--width);


    // Pseudo Element Box Shadow
    &::after {
        @include lib.position(absolute, full);
        border-radius: inherit;
        box-shadow: var(--box-shadow);
        content: '';
        pointer-events: none;
        transition:
            box-shadow var(--transition-duration) ease-in-out,
            opacity var(--transition-duration) ease-in-out;
        z-index: -1;
    }


    &--flat {
        &::after {
            display: none;
        }
    }

    &--option {
        border-radius: 0;

        &:first-child:last-child {
            border-radius: var(--border-radius);
        }

        &:first-child:not(:last-child) {
            border-radius: var(--border-radius) var(--border-radius) 0 0;
        }

        &:last-child:not(:first-child) {
            border-radius: 0 0 var(--border-radius) var(--border-radius);
        }
    }
}
