@use '~/tokens';

.card {
    --background: var(--background-default);
    --background-active: var(--background-default);
    --background-default: transparent;
    --background-hover: var(--background-default);
    --background-pressed: var(--background-default);
    --border-color: var(--border-color-default);
    --border-color-active: var(--border-color-default);
    --border-color-default: var(--background);
    --border-color-hover: var(--border-color-default);
    --border-color-pressed: var(--border-color-default);
    --border-radius: var(--border-radius-400);
    --box-shadow: var(--box-shadow-default);
    --box-shadow-active: var(--box-shadow-300);
    --box-shadow-default: none;
    --box-shadow-hover: var(--box-shadow-300);
    --box-shadow-pressed: none;
    --padding-horizontal: 0px;
    --padding-vertical: 0px;
    --transition-duration: var(--transition-duration-400);
    --width: auto;

    @include tokens.state(active) {
        --background: var(--background-active);
        --border-color: var(--border-color-active);
        --box-shadow: var(--box-shadow-active);
    }

    @include tokens.state(hover) {
        --background: var(--background-hover);
        --border-color: var(--border-color-hover);
        --box-shadow: var(--box-shadow-hover);
    }

    @include tokens.state(pressed) {
        --background: var(--background-pressed);
        --border-color: var(--border-color-pressed);
        --box-shadow: var(--box-shadow-pressed);
    }
}
