@use 'variables';

.thumbnail {
    background: var(--background);
    background-size: cover;
    background-position: center;
    border-radius: var(--border-radius);
    height: var(--height);
    position: relative;
    width: var(--width);
}
