.loading {
    animation: loading var(--animation-duration) infinite linear;
    animation-delay: var(--animation-delay);
    border: var(--border-width) var(--border-style) var(--border-color);
    border-radius: 100%;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: var(--box-shadow);
    height: var(--height);
    pointer-events: none;
    position: relative;
    transition: border-color var(--transition-duration) ease-in-out;
    width: var(--width);
    z-index: 0;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
