.loading {
    --animation-delay: calc(0s + (0.032s * var(--i)));
    --animation-duration: calc(0.64s * (var(--i) + 1.5));
    --border-color: inherit;
    --border-style: solid;
    --border-width: var(--border-width-400);
    --box-shadow: none;
    --height: calc(var(--size) * var(--multiplier));
    --i: 0;
    --multiplier: calc(1 - (.2 * var(--i)));
    --size: var(--size-400);
    --transition-duration: var(--transition-duration-400);
    --width: calc(var(--size) * var(--multiplier));

    .loading {
        --i: 1;
        --size: inherit;

        .loading {
            --i: 2;

            .loading {
                --i: 3;

                .loading {
                    --i: 4;
                }
            }
        }
    }
}
