@use '/lib';

.processing {
    height: var(--size);
    position: relative;
    width: var(--size);
    animation: processing var(--animation-duration) linear infinite;

    &-ring {
        clip: rect(calc(var(--size) / 2), var(--size), var(--size), 0);

        &,
        &::after,
        &::before {
            @include lib.position(absolute, full);
        }

        &,
        &::before {
            animation: processing calc(var(--animation-duration) / 2) cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
        }

        &::after,
        &::before {
            border-radius: 50%;
            content: "";
        }

        &::after {
            border: var(--border-width) var(--border-style) var(--border-color-secondary);
            opacity: var(--opacity);
        }

        &::before {
            border-top: var(--border-width) var(--border-style) var(--border-color-primary);
        }
    }
}

@keyframes processing {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}