.processing {
    --animation-duration: 2.64s;
    --border-color-primary: var(--color-black-500);
    --border-color-secondary: var(--color-border-300);
    --border-style: solid;
    --border-width: var(--border-width-600);
    --height: var(--size);
    --opacity: 0.64;
    --size: var(--size-600);
    --width: var(--size);
}
