@use '/lib';
@use '/tokens';

.--border {
    @include tokens.state-utility('border-color', tokens.$colors);

    &-radius {
        &-responsive {
            --border-radius: #{"calc( progress((100vi - 100cqi) / 2, 0px, var(--gap-horizontal)) * var(--border-radius) )"};
        }
    }

    &-default {
        --border-color: var(--border-color-default);
        --border-color-active: var(--border-color-default);
        --border-color-hover: var(--border-color-default);
        --border-color-pressed: var(--border-color-default);
    }

    &-state {
        --border-color: var(--border-color-default);
        --border-color-active: var(--border-color-default);
        --border-color-default: transparent;
        --border-color-hover: var(--border-color-default);
        --border-color-pressed: var(--border-color-default);

        @include tokens.state(active) {
            --border-color: var(--border-color-active);
        }

        @include tokens.state(hover) {
            --border-color: var(--border-color-hover);
        }

        @include tokens.state(pressed) {
            --border-color: var(--border-color-pressed);
        }
    }
}
