@use '/lib';
@use '/shared';
@use '/tokens';

.--border {
    @include tokens.state-utility('border-color', tokens.$colors);

    &-default {
        --border-color: var(--border-color-default);
        --border-color-active: var(--border-color-default);
        --border-color-hover: var(--border-color-default);
        --border-color-pressed: var(--border-color-default);
    }

    &-radius {
        &-responsive {
            --border-radius: #{"calc( progress((100vi - 100cqi) / 2, 0px, var(--gap-horizontal)) * var(--border-radius) )"};
        }
    }

    &-state {
        @extend %border-state;
    }
}
