@use 'variables';

.range {
    background: var(--background);
    border-radius: 240px;
    border: 0px;
    height: var(--height);
    margin-block: calc(var(--margin-vertical) + ((var(--thumb-size) - var(--height)) / 2));
    margin-inline: var(--margin-horizontal);
    transition:
        background var(--transition-duration) var(--transition-timing-function),
        border-color var(--transition-duration) var(--transition-timing-function),
        box-shadow var(--transition-duration) var(--transition-timing-function),
        opacity var(--transition-duration) var(--transition-timing-function),
        transform var(--transition-duration) var(--transition-timing-function);
    width: var(--width);

    &::-moz-range-thumb,
    &::-webkit-slider-thumb {
        background: var(--thumb-background);
        border-radius: 100%;
        border: var(--border-width) solid var(--border-color);
        cursor: pointer;
        height: var(--thumb-size);
        width: var(--thumb-size);
    }

    &,
    &::-moz-range-thumb,
    &::-webkit-slider-thumb {
        appearance: none;
        outline: none;
    }
}