.range {
    --background-default: var(--color-black-300);
    --border-width: var(--border-width-700);
    --height: var(--size-200);
    --thumb-background: var(--color-white-400);
    --thumb-size: var(--size-400);
    --width: 100%;
}