@use '/tokens';

.--background {
    @include tokens.state-utility('background', tokens.$colors);

    &-default {
        --background: var(--background-default);
        --background-active: var(--background-default);
        --background-hover: var(--background-default);
        --background-pressed: var(--background-default);
    }

    &-state {
        --background: var(--background-default);
        --background-active: var(--background-default);
        --background-default: transparent;
        --background-hover: var(--background-default);
        --background-pressed: var(--background-default);

        @include tokens.state(active) {
            --background: var(--background-active);
        }

        @include tokens.state(hover) {
            --background: var(--background-hover);
        }

        @include tokens.state(pressed) {
            --background: var(--background-pressed);
        }
    }
}

