.footer {
    &,
    &-break {
        width: 100%;
    }

    &-copyright {
        &:first-child {
            @media (max-width: 640px) {
                --width: 100%;
            }

            @media (min-width: 640px) {
                margin-right: auto;
            }

            + .footer-break {
                display: none;
            }
        }

        &:last-child {
            --width: 100%;
        }
    }
}