.docs-main {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: var(--size-800) 0 var(--size-900);
}

.docs-page-nav {
    align-self: start;
    max-height: calc(100svh - var(--header-height));
    padding: var(--size-800) var(--size-200) var(--spacer-100) 0;
    position: sticky;
    top: var(--header-height);

    @media (max-width: 1280px) {
        display: none;
    }
}
