@use 'variables';

.loader {
    background-color: #01020964;
    bottom: 0;
    left: 0;
    position: fixed;
    opacity: 1;
    pointer-events: none;
    right: 0;
    top: 0;
    transition: all 0.3s ease-in-out;
    visibility: visible;
    z-index: 9999;


    &--load {
        animation: 0.4s 0.2s ease-in-out 1 both loaderMove;

        & & {
            animation: 0.4s ease-in-out 1 both loaderMove;
        }
    }


    @keyframes loaderMove {
        0% {
            transform: translateY(0);
        }
        80% {
            transform: translateY(-102%);
        }
        100% {
            transform: translateY(-102%);
        }
    }


    & & {
        background-color: var(--color-black-400);
    }

    &-content {
        bottom: auto;
        left: 50%;
        position: absolute;
        right: auto;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    &-logo {
        color: white;

        &--scale {
            animation: loaderLogoScale 0.32s 1;
            animation-fill-mode: both;

            @keyframes loaderLogoScale {
                from {
                    opacity: 1;
                    transform: scale3d(1, 1, 1);
                }
                to {
                    opacity: 0;
                    transform: scale3d(1.8, 1.8, 1.8);
                }
            }
        }
    }
}