@function box-shadow($alpha) {
    $base: hsl(214 80% 27% / 4%);
    $shade: hsl(from $base calc(h + 8) 25 calc(l - 5));

    @return 0 0 0 1px $base,
        0 1px 1px -0.5px $shade,
        0 3px 3px -1.5px $shade,
        0 6px 6px -3px $shade,
        0 12px 12px -6px $base,
        0 24px 24px -12px $base;
}


$box-shadow: (
    300: box-shadow(2),
    400: box-shadow(4),
    500: box-shadow(6)
);