$box-shadow: (
    100: 0 1px 2px 0 oklch(from var(--color-black-300) l c h / 0.2),
    200: #{
        0 1px 3px 0 oklch(from var(--color-black-300) l c h / 0.2),
        0 1px 2px -1px oklch(from var(--color-black-300) l c h / 0.2)
    },
    300: #{
        0 4px 6px -1px oklch(from var(--color-black-300) l c h / 0.2),
        0 2px 4px -2px oklch(from var(--color-black-300) l c h / 0.2)
    },
    400: #{
        0 10px 15px -3px oklch(from var(--color-black-300) l c h / 0.2),
        0 10px 15px -3px oklch(from var(--color-black-300) l c h / 0.2),
        0 4px 6px -4px oklch(from var(--color-black-300) l c h / 0.2)
    },
    500: #{
        0 20px 25px -5px oklch(from var(--color-black-300) l c h / 0.2),
        0 8px 10px -6px oklch(from var(--color-black-300) l c h / 0.2)
    },
    600: 0 25px 50px -12px oklch(from var(--color-black-500) l c h / 0.2),

    glow: #{
        0px 0px 128px 32px var(--box-shadow-color, #fff),
        0px 0px 32px 8px var(--box-shadow-color, #fff),
        0px 0px 8px 0px var(--box-shadow-color, #fff)
    }
);