@use '../../lib';


$color: (
    'black': (
        300: oklch(18.84% 0.0306 277.2),
        400: oklch(11.47% 0.0361 268.9),
        500: oklch(10.04% 0.0287 263.4)
    ),
    'blue': (
        300: oklch(54.49% 0.2514 268.2),
        400: oklch(51.45% 0.2712 266.6),
        500: oklch(48.45% 0.2617 266.3)
    ),
    'border': (
        300: oklch(82.15% 0.0368 276.9),
        400: oklch(78.98% 0.0358 276.6),
        500: oklch(73.98% 0.0362 278.3)
    ),
    'green': (
        300: oklch(87.03% 0.2708 144.9),
        400: oklch(83.70% 0.2711 144.0),
        500: oklch(78.97% 0.2560 144.0)
    ),
    'grey': (
        300: oklch(98.01% 0.0096 252.8),
        400: oklch(95.33% 0.0162 245.1),
        500: oklch(89.33% 0.0157 248.0)
    ),
    'purple': (
        300: oklch(53.29% 0.2877 292.5),
        400: oklch(51.66% 0.2929 289.7),
        500: oklch(48.63% 0.2754 289.9)
    ),
    'red': (
        300: oklch(64.46% 0.2412 23.8),
        400: oklch(62.87% 0.2567 27.7),
        500: oklch(59.10% 0.2413 27.6)
    ),
    'text': (
        300: oklch(26.89% 0.0510 273.0),
        400: oklch(24.11% 0.0541 272.6),
        500: oklch(21.88% 0.0516 271.8)
    ),
    'white': (
        300: oklch(100% 0 0),
        400: oklch(100% 0 0),
        500: oklch(100% 0 0)
    ),
    'yellow': (
        300: oklch(96.85% 0.1779 110.7),
        400: oklch(96.32% 0.2125 111.5),
        500: oklch(90.35% 0.2004 112.3)
    )
);

$colors: lib.list-join(primary secondary, lib.map-keys($color));