@use '../../lib';


$color: (
    'black': (
        300: #151726,
        400: #020412,
        500: #01020b
    ),
    'blue': (
        300: #3755ff,
        400: #2545ff,
        500: #1e3def
    ),
    'border': (
        300: #bec3dd,
        400: #b4b9d2,
        500: #a5a9c2
    ),
    'green': (
        300: #18ff4b,
        400: #01f336,
        500: #00e131
    ),
    'grey': (
        300: #f4f9ff,
        400: #e7f1fa,
        500: #d4dde6
    ),
    'purple': (
        300: #7d15ff,
        400: #7300ff,
        500: #6a00eb
    ),
    'red': (
        300: #ff2a3d,
        400: #ff0017,
        500: #eb0015
    ),
    'text': (
        300: #1e243f,
        400: #171d39,
        500: #121832
    ),
    'white': (
        300: #fff,
        400: #fff,
        500: #fff
    ),
    'yellow': (
        300: #fbff5e,
        400: #f9ff00,
        500: #e3eb00
    )
);

$colors: lib.list-join(primary secondary, lib.map-keys($color));


@function color($keys, $opacity) {
    $c: $color;

    @each $key in $keys {
        $c: lib.map-get($c, $key);
    }

    @return lib.color-change($c, $alpha: $opacity);
}
