// https://www.fluid-type-scale.com/calculate?minFontSize=12&minWidth=200&minRatio=1&maxFontSize=14&maxWidth=800&maxRatio=1.36&steps=100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900&baseStep=400&prefix=font-size&useContainerWidth=false&includeFallbacks=false&useRems=true&remValue=16&decimals=2&previewFont=Montserrat&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground&previewWidth=800
$font-size: (
    100: clamp(0.75rem, -1.07vi + 0.88rem, 0.35rem),
    200: clamp(0.75rem, -0.74vi + 0.84rem, 0.47rem),
    300: clamp(0.75rem, -0.28vi + 0.79rem, 0.64rem),
    400: clamp(0.75rem, 0.33vi + 0.71rem, 0.88rem),
    500: clamp(0.75rem, 1.17vi + 0.6rem, 1.19rem),
    600: clamp(0.75rem, 2.32vi + 0.46rem, 1.62rem),
    700: clamp(0.75rem, 3.87vi + 0.27rem, 2.2rem),
    800: clamp(0.75rem, 5.98vi + 0rem, 2.99rem),
    900: clamp(0.75rem, 8.86vi + -0.36rem, 4.07rem),
);


