.morphing-button {
    --border-radius: 999px;
    --morphing-button-background: var(--color-text-500);
    --morphing-button-background-error: var(--color-red-500);
    --morphing-button-color: var(--color-white-300);
    --morphing-button-color-error: var(--color-white-300);
    --morphing-button-ease: cubic-bezier(0.23, 1, 0.32, 1);
    --morphing-button-focus-color: color-mix(in oklab, var(--color-text-500) 38%, transparent);
    --morphing-button-font-size: 14px;
    --morphing-button-height: 40px;
    --morphing-button-icon-size: 16px;
    --morphing-button-scale-pressed: 0.96;
    --morphing-button-spring: linear(0, 0.057, 0.18, 0.321, 0.455, 0.573, 0.671, 0.75, 0.812, 0.86, 0.896, 0.924, 0.944, 0.96, 0.971, 0.979, 0.985, 0.989, 0.992, 0.994, 0.996, 0.997, 0.998, 0.999, 1);
    --padding-horizontal: 20px;
    --padding-vertical: 0px;


    &--blue {
        --morphing-button-background: var(--color-blue-400);
    }
}
