@use 'css-utilities/font/geist/mono';
@use 'modern-normalize/modern-normalize.css';

button,
input,
select,
textarea {
    background: transparent;
    border-radius: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;

    &,
    &:active,
    &:focus,
    &:hover {
        outline: none;
    }

    &:invalid {
        box-shadow: none;
    }
}

code,
kbd,
pre,
samp {
    @extend %font-geist-mono;
    font-family: var(--font-family);
}

form {
    margin: 0;
    padding: 0;
    width: 100%;
}

label {
    cursor: pointer;
}