@use '/lib';
@use '/tokens';

.modal {
    @include lib.position(fixed, center);
    max-height: var(--max-height);
    overflow: hidden;
    transition:
        opacity var(--transition-duration) ease-in-out,
        transform var(--transition-duration) ease-in-out;
    transform-origin: center;
    width: min(var(--max-width), calc(100svw - (var(--margin-horizontal) * 2)));
    z-index: 2;

    @include tokens.state(inactive) {
        opacity: 0;
        pointer-events: none;
        transform: translate(50%, 50%) scale(0.8);

        input[type='password'] {
            display: none;
        }
    }

    &-frame {
        transition:
            opacity var(--transition-duration) ease-in-out,
            transform var(--transition-duration) ease-in-out;
        transform-origin: center;

        @include tokens.state(inactive) {
            display: none;
        }
    }
}