@use '/lib';
@use '/tokens';
@use './variables.scss';

.modal {
    margin: auto;
    transition:
        opacity var(--transition-duration) ease-in-out,
        transform var(--transition-duration) ease-in-out;
    transform-origin: center;
    width: min(var(--max-width), calc(100% - (var(--margin-horizontal) * 2)));
    z-index: 9;

    @include tokens.state(inactive) {
        opacity: 0;
        pointer-events: none;
        transform: translateY(var(--translateY));

        input[type='password'] {
            display: none;
        }
    }

    &-frame {
        transition:
            opacity var(--transition-duration) ease-in-out,
            transform var(--transition-duration) ease-in-out;
        transform-origin: center;

        @include tokens.state(inactive) {
            display: none;
        }
    }
}