.image {
    --background: transparent;
    --border-radius: var(--border-radius-300);
    --height: var(--size);
    --size: var(--size-700);
    --width: var(--size);


    &--stack {
        --stack-gap: var(--border-width-500);
        --stack-overlap: calc(var(--width) / 4);

        &:has(+ .image--stack) {
            --stack-cut: calc(var(--stack-radius) + var(--stack-gap));
            --stack-radius: min(var(--border-radius), var(--height) / 2, var(--width) / 2);
            --stack-x: calc(100% - var(--stack-overlap) + var(--stack-radius));
        }
    }

    &--status {
        --status-color: var(--color-green-400);
        --status-gap: var(--border-width-500);
        --status-mask: radial-gradient(
            circle at calc(100% - var(--status-size) / 2) calc(100% - var(--status-size) / 2),
            #000 calc(var(--status-size) / 2 - 0.5px),
            transparent calc(var(--status-size) / 2 + 0.5px) calc(var(--status-size) / 2 + var(--status-gap) - 0.5px),
            #000 calc(var(--status-size) / 2 + var(--status-gap) + 0.5px)
        );
        --status-size: calc(min(var(--height), var(--width)) * 0.3);
    }


    &-lazyload {
        --aspect-ratio: auto;
        --background: var(--color-grey-500);
        --border-radius: var(--border-radius-600);
        --timing-function: cubic-bezier(0.23, 1, 0.32, 1);
        --transition-duration: 0.65s;
    }
}