@use 'variables';

.group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 calc(var(--margin-horizontal) / -2);
    position: relative;
    width: calc(100% + var(--margin-horizontal));


    &--offset {
        @each $direction in 'bottom' 'top' {
            &-#{$direction} {
                margin-#{$direction}: calc(var(--margin-vertical) * -1);
            }
        }
    }

    &--scroller {
        flex-flow: row;
        margin-bottom: calc(var(--scrollbar-width) * -1);
        overflow-y: hidden;
        padding-bottom: var(--scrollbar-width);
    }


    &-item {
        display: flex;
        margin: var(--margin-vertical) calc(var(--margin-horizontal) / 2) 0;
        position: relative;
        width: var(--width);

        &[class*='--width'] {
            width: calc(var(--width) - var(--margin-horizontal));
        }
    }
}
