.group {
    --margin-horizontal: var(--size-400);
    --width: auto;


    &.--flex-column {
        .group-item {
            --width: 100%;
        }
    }

    &--scroller {
        .group-item {
            --margin-vertical: 0px;
        }
    }
}
