@use './variables';

.--margin {
    &,
    &-horizontal {
        margin-left: var(--margin-horizontal);
        margin-right: var(--margin-horizontal);
    }

    &,
    &-vertical {
        margin-bottom: var(--margin-vertical);
        margin-top: var(--margin-vertical);
    }

    @each $direction in 'bottom' 'top' {
        &-#{$direction} {
            margin-#{$direction}: var(--margin-vertical);
        }
    }

    @each $direction in 'left' 'right' {
        &-#{$direction} {
            margin-#{$direction}: var(--margin-horizontal);
        }
    }
}

.--padding {
    &,
    &-horizontal {
        padding-left: max(0px, calc(var(--padding-horizontal) - var(--border-width)));
        padding-right: max(0px, calc(var(--padding-horizontal) - var(--border-width)));
    }

    &,
    &-vertical {
        padding-bottom: max(0px, calc(var(--padding-vertical) - var(--border-width)));
        padding-top: max(0px, calc(var(--padding-vertical) - var(--border-width)));
    }

    @each $direction in 'bottom' 'top' {
        &-#{$direction} {
            padding-#{$direction}: max(0px, calc(var(--padding-vertical) - var(--border-width)));
        }
    }

    @each $direction in 'left' 'right' {
        &-#{$direction} {
            padding-#{$direction}: max(0px, calc(var(--padding-horizontal) - var(--border-width)));
        }
    }
}