@use 'variables';

.text {
    color: var(--color);
    display: flex;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    gap: var(--gap);
    line-height: var(--line-height);
    position: relative;
    transition: color var(--transition-duration) var(--transition-timing-function);
    width: var(--width);


    &.--text-truncate {
        display: block;
    }
}
