@use 'variables';

.text {
    color: var(--color);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    position: relative;
    transition: color var(--transition-duration) ease-in-out;
    width: var(--width);
}
