.switch-demo {
    width: min(360px, 100%);

    &-row {
        align-items: center;
        cursor: pointer;
        display: flex;
        gap: var(--size-300);
        user-select: none;
    }

    .checkbox {
        --background-active: var(--color-primary-400);
        --background-default: var(--color-border-500);
    }
}
