@use '/lib';
@use 'variables';

.select {
    background: var(--background);
    border-radius: var(--border-radius);
    color: var(--color);
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font-size);
    line-height: var(--line-height);
    padding: var(--padding-vertical) calc((var(--padding-horizontal) * 2) + var(--arrow-size)) var(--padding-vertical) var(--padding-horizontal);
    position: relative;
    transition:
        background var(--transition-duration) ease-in-out,
        border-color var(--transition-duration) ease-in-out,
        box-shadow var(--transition-duration) ease-in-out,
        opacity var(--transition-duration) ease-in-out,
        transform var(--transition-duration) ease-in-out;
    width: 100%;

    &-arrow {
        @include lib.position(absolute, null calc(var(--padding-horizontal) + var(--arrow-spacer)) calc(50% + var(--arrow-spacer)) null);
        border-color: var(--color);
        border-style: solid;
        border-width: 0 var(--border-width) var(--border-width) 0;
        content: '';
        height: var(--arrow-size);
        transform: translateY(50%) rotate(45deg);
        width: var(--arrow-size);
    }

    // Hide HTML Field Element
    &-tag {
        @include lib.position(absolute, 0 null null 0);
        height: 0px;
        opacity: 0;
        pointer-events: none;
        width: 0px;
        z-index: 0;
    }
}