@use '/tokens';

.select {
    --arrow-size: 6px;
    --arrow-spacer: 1px;
    --border-color-default: var(--background);
    --border-radius: var(--border-radius-400);
    --font-size: var(--font-size-400);
    --padding-horizontal: var(--size-400);
    --padding-vertical: var(--size-400);

    #{tokens.state(inactive)} {
        @include tokens.state(hover) {
            --box-shadow: var(--box-shadow-hover);
        }

        @include tokens.state(pressed) {
            --box-shadow: var(--box-shadow-pressed);
        }
    }

    #{tokens.state(active)} {
        --box-shadow: var(--box-shadow-active);
    }

    &-arrow {
        --border-width: var(--border-width-500);
    }

    &-option {
        --padding-horizontal: var(--size-400);
        --padding-vertical: var(--size-400);
    }
}
