@use '/lib';
@use './variables.scss';

.banner {
    @include lib.position(absolute, full);
    background-position: center;
    background-size: cover;
    z-index: -1;


    &--backdrop {
        background-position: bottom;
        height: 80svh;
    }

    &--blur {
        filter: blur(var(--blur));
        left: -2svh;
        right: -2svh;
        top: -2svh;

        &.banner--backdrop {
            height: 90svh;
        }
    }

    &--fixed {
        position: fixed;
    }

    &--gradient {
        &::before {
            @include lib.position(absolute, full);
            background:
                radial-gradient(circle at top, transparent 64%, var(--to) 88%),
                linear-gradient(to bottom, var(--from) 0%, var(--to) 100%);
            content: '';
            z-index: 0;
        }
    }
}
