.banner {
    &--backdrop {
        --backdrop-height: 80svh;
    }

    // '--backdrop-height' is read when paired with '--backdrop'.
    &--blur {
        --backdrop-height: 90svh;
        --blur: 24px;
    }

    &--gradient {
        --from: rgb(3 0 19 / 32%);
        --to: var(--color-black-500);
    }
}