.icon {
    color: var(--color);
    display: flex;
    flex: 0 0 var(--width);
    height: var(--height);
    pointer-events: none;
    position: relative;
    width: var(--width);


    svg {
        color: currentColor;
        fill: currentColor;
        height: 100%;
        width: 100%;
    }
}
