@use 'ui/lib';

.group {
    --min-width: auto;
    --width: auto;


    &--border {
        @include lib.modifiers('bottom' 'left' 'right' 'top', '&-{r}') {
            --border-color: transparent;
            --border-radius: var(--border-radius-400);
            --border-style: solid;
            --border-width: var(--border-width-300);
            --transition-duration: var(--transition-duration-400);
        }
    }

    &--column {
        --padding-horizontal: 0;
        --padding-vertical: 0;
    }

    &--scroller {
        --border-radius: var(--border-radius-400);
        --box-shadow: var(--box-shadow-400);
    }


    &-bulletpoint,
    &-caret {
        --border-radius: var(--border-radius-900);
        --size: 4px;
    }
}
