@use 'ui/lib';
@use 'ui/tokens';

.--color {
    &-inherit {
        --color: inherit;
    }

    &-state {
        --color: var(--color-400);

        @include tokens.state(highlight) {
            --color: var(--color-300);
        }

        @include tokens.state(pressed) {
            --color: var(--color-500);
        }

        &-inactive {
            @include tokens.state(default) {
                --color: var(--color-400);
            }

            @include tokens.state(hover) {
                --color: var(--color-300);
            }

            @include tokens.state(pressed) {
                --color: var(--color-500);
            }
        }
    }

    @each $color in lib.list-join(primary secondary, lib.map-get(tokens.$color, modifiers)) {
        &-#{$color} {
            @each $key in tokens.$weights {
                --color-#{$key}: var(--color-#{$color}-#{$key});

                &-#{$key} {
                    --color: var(--color-#{$color}-#{$key});
                }
            }
        }
    }
}
