@use 'variables';

.grid {
    display: grid;
    gap: var(--gap-vertical) var(--gap-horizontal);
    grid-template-columns: repeat(auto-fit, minmax(var(--min-width), var(--max-width)));
    position: relative;

    .grid-item {
        width: 100%;
    }
}