@use 'variables';

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: var(--margin-vertical) auto;
    position: relative;
    width: min(var(--max-width), calc(100% - var(--margin-horizontal) * 2));
}
