.frame {
    cursor: default;
    display: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 100%;
    position: relative;
    width: 100%;


    &.--active {
        display: flex;
    }
}