.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: var(--spacer-100) 0 var(--size-900);
}

.page-nav {
    align-self: start;
    max-height: 100svh;
    padding: var(--spacer-100) var(--size-200) var(--spacer-100) 0;
    position: sticky;
    top: 0;

    @media (max-width: 1280px) {
        display: none;
    }
}
