@use '/tokens';
@use 'variables';

.anchor {
    max-height: calc(var(--max-height, 100%) - (var(--margin-vertical) * 2));
    max-width: calc(var(--max-width, 100%) - (var(--margin-horizontal) * 2));
    position: absolute;
    transition:
        opacity var(--transition-duration) ease-in-out,
        transform var(--transition-duration) ease-in-out;
    z-index: 9;


    @include tokens.state(inactive) {
        opacity: 0;

        &, * {
            pointer-events: none;
        }
    }


    &--n,
    &--s {
        right: 50%;
        transform: translateX(50%);
    }

    &--ne,
    &--nw {
        top: var(--margin-vertical);
    }

    &--se,
    &--sw {
        bottom: var(--margin-vertical);
    }

    &--ne,
    &--se {
        right: var(--margin-horizontal);
    }

    &--nw,
    &--sw {
        left: var(--margin-horizontal);
    }

    &--n {
        top: var(--margin-vertical);
    }

    &--s {
        bottom: var(--margin-vertical);
    }
}
