@use 'variables';

.loading {
    animation: loading var(--animation-duration) linear infinite;
    border: var(--border-width) solid color-mix(in srgb, var(--border-color), transparent 90%);
    border-left-color: var(--border-color);
    border-radius: 100%;
    height: var(--size);
    width: var(--size);
}

@keyframes loading {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}