.loading {
    --animation-duration: 0.64s;
    --border-color: var(--color);
    --border-width: var(--border-width-400);
    --color: var(--color-black-400);
    --size: var(--size-400);
    --timing-function: cubic-bezier(0.5, 0, 0.5, 1);
    --track-color: color-mix(in srgb, var(--border-color), transparent 90%);

    &--bar {
        --animation-duration: 0.8s;
        --height: var(--border-width);
        --width: 100%;
    }

    &--tail {
        --animation-duration: 0.8s;
        --tail: 120deg;
    }
}
