@use '/lib';
@use '/tokens';
@use 'variables';

.sidebar {
    @include lib.position(absolute, var(--margin-vertical) null var(--margin-vertical) null);
    cursor: default;
    height: calc(100% - (var(--margin-vertical) * 2));
    overflow: hidden;
    transition:
        max-width var(--transition-duration) ease-in-out,
        opacity var(--transition-duration) ease-in-out,
        transform var(--transition-duration) ease-in-out;
    width: min(var(--width), calc(100% - (var(--margin-horizontal) * 2)));
    z-index: 9;


    @include tokens.state(inactive) {
        input[type='password'] {
            display: none;
        }
    }


    &--e {
        right: var(--margin-horizontal);

        &.sidebar--offscreen {
            @include tokens.state(inactive) {
                transform: translateX(var(--width));
            }
        }
    }

    &--w {
        left: var(--margin-horizontal);

        &.sidebar--offscreen {
            @include tokens.state(inactive) {
                transform: translateX(calc(var(--width) * -1));
            }
        }
    }


    &-content {
        flex: 0 0 var(--width-default);
        width: var(--width-default);
    }
}
