@use '/tokens';

.sidebar {
    --margin-horizontal: 0px;
    --margin-vertical: 0px;
    --width: var(--width-default);
    --width-closed: var(--width-default);
    --width-default: 320px;


    @include tokens.state(default) {
        --width: var(--width-closed);
    }


    &--floating {
        --margin-horizontal: var(--size-100);
        --margin-vertical: var(--size-100);
    }
}
