@use '../../anchor/scss';
@use '/lib';
@use '/tokens';
@use 'variables';

.alert {
    max-width: var(--max-width);
    padding: var(--padding-vertical) var(--padding-horizontal);
    position: fixed;
    width: calc(100% - (var(--margin-horizontal) * 2));
    z-index: 9999;


    &.anchor--n {
        @include tokens.state(inactive) {
            transform: translate(50%, -100%);
        }
    }

    &.anchor--ne {
        @include tokens.state(inactive) {
            transform: translateY(-100%);
        }
    }
}