@use '../../anchor/scss';
@use '/lib';
@use '/tokens';
@use 'variables';

.alert {
    max-width: var(--max-width);
    padding: var(--padding-vertical) var(--padding-horizontal);
    position: fixed;
    width: calc(100% - (var(--margin-horizontal) * 2));
    z-index: 9999;


    &.anchor--n {
        @include tokens.state(inactive) {
            transform: translate(50%, -100%);
        }
    }

    &.anchor--ne {
        @include tokens.state(inactive) {
            transform: translateY(-100%);
        }
    }


    &-close {
        margin: calc(var(--padding-vertical) * -1) 0;
    }

    &-message {
        opacity: 0;
        transition:
            opacity var(--transition-duration) ease-in-out,
            transform var(--transition-duration) ease-in-out;

        @include tokens.state(inactive) {
            pointer-events: none;
            position: absolute;
            transform: translateX(calc(25% * -1));
            left: 0;
            top: 0;
        }

        @include tokens.state(active) {
            opacity: 1;
        }
    }
}