.checkbox-demo {
    width: min(360px, 100%);

    &-description {
        color: var(--color-text-300);
        font-size: var(--font-size-300);
    }

    &-row {
        align-items: center;
        cursor: pointer;
        display: flex;
        gap: var(--size-300);
        user-select: none;

        &--description {
            align-items: flex-start;
        }
    }

    &-status {
        color: var(--color-text-300);
        font-size: var(--font-size-300);
    }

    &-text {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .checkbox {
        --background-active: var(--color-accent-400);
        --border-color-active: var(--color-accent-400);
        --border-color-default: var(--surface-secondary-pressed);
        --border-width: var(--border-width-400);
    }
}
