name: publish to npm

on:
  release:
    types: [published]
  workflow_dispatch:
  workflow_run:
    workflows: [bump version]
    types:
      - completed

jobs:
  publish:
    secrets:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    uses: esportsplus/typescript/.github/workflows/publish.yml@main
